In [176]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv(r"F:\projetos dados\e-commerce\E-commerece sales data 2024.csv")
df2 = pd.read_csv(r"F:\projetos dados\e-commerce\E-commerece sales data 2024.csv")

In [177]:
dfproducts = pd.read_excel(r"F:\projetos dados\e-commerce\Dados Tratados\Detalhes de produtos.xlsx")

In [178]:
df.drop("Unnamed: 4", axis= 1,inplace=True)

In [179]:
df.isnull().sum()

user id             295
product id          295
Interaction type    423
Time stamp          295
dtype: int64

In [180]:
df = df[(df["product id"].notnull()) & (df["user id"].notnull()) | 
        ((df["product id"].isnull()) & (df["user id"].isnull()) & (df["Interaction type"] == "purchase"))]

df ["product id"].fillna("desconhecido")
df ["user id"].fillna("desconhecido")
df ["Interaction type"] = df["Interaction type"].fillna("Desconhecido")
print(df.isnull().sum())

user id             0
product id          0
Interaction type    0
Time stamp          0
dtype: int64

In [181]:
df["user id"] = df ["user id"].astype(int)

In [182]:
df ["Time stamp"] = pd.to_datetime(df["Time stamp"], dayfirst=True)

In [183]:
engine = create_engine ("postgresql://postgres:Lf19092019f-@localhost:5432/Python")
df.to_sql("vendas_2024", engine, if_exists="replace", index=False)

999

In [184]:
pasta_destino = r"F:\\projetos dados\\e-commerce\\Dados Tratados\\"
caminho_arquivo = r"vendas_2024.xlsx"
caminho_completo = pasta_destino + caminho_arquivo


df.to_excel (caminho_completo, index=False)

In [185]:
df = df.loc [df["Interaction type"] == "purchase"]
df

,user id,product id,Interaction type,Time stamp
0,1,4c69b61db1fc16e7013b43fc926e502d,purchase,2023-10-10 08:00:00
6,7,40d3cd16b41970ae6872e914aecf2c8e,purchase,2023-10-16 08:00:00
9,10,69828c5570dcdbd1609216d33fbad0db,purchase,2023-10-19 08:00:00
10,11,7b0746d8afc8462ba17f8a763d9d5f1e,purchase,2023-10-20 08:00:00
16,17,d82015ffbf4cd54b0edfb890002971f3,purchase,2023-10-26 08:00:00
...,...,...,...,...
2982,2983,fdb871290f16fa018ffc6abf04630696,purchase,2023-12-03 08:00:00
2988,2989,06e8480f75c0414c5b0441e6df159f35,purchase,2023-12-09 08:00:00
2991,2992,2e26df8b0c3338d980ffa909786e0d2b,purchase,2023-12-12 08:00:00
2992,2993,f1c169fc0fbc069fdb894309f5a26d3a,purchase,2023-12-13 08:00:00
2996,2997,19d150365d798db47cccf1622b6ad754,purchase,2023-12-17 08:00:00

In [186]:
dfproducts ["Preco de venda"] = dfproducts ["Preco de venda"].str.replace ("[$, ,]","", regex=True)

In [187]:
dfproducts ["Preco de venda"] = dfproducts ["Preco de venda"].astype(float)

In [188]:
vendidosIndice = []
for i in df["product id"]:
    for i2 in dfproducts ["Id unico"]:
        if i == i2:
            vendidosIndice.append(i2)

In [189]:
dfvendidos = dfproducts [dfproducts ["Id unico"].isin(vendidosIndice)]
dfvendidos.reset_index (drop=True)
dfvendidos_nao_listados = df [~df ["product id"].isin (dfvendidos ["Id unico"])]
dfvendidos_listados = df [df ["product id"].isin (dfvendidos ["Id unico"])]
print(len(dfvendidos["Preco de venda"]))

825

In [190]:
contagemInteractions = df2["Interaction type"].value_counts()
like_count = (df2["Interaction type"] == "like").sum()
purchase_count = (df2["Interaction type"] == "purchase").sum()
view_count = (df2["Interaction type"] == "view").sum()

dfInteractions = pd.DataFrame(contagemInteractions)

In [191]:
dados = {
    "Interactions Types": ["purchase", "view", "like"],
    "Count": [purchase_count,view_count, like_count]
}

In [192]:
dados = pd.DataFrame(dados)
dfInteractions = dados

In [193]:
dfvendidos_nao_listados.reset_index(drop=True)

,user id,product id,Interaction type,Time stamp
0,40,c3296d8ad42c3998c205f0dbca3998f3,purchase,2023-11-18 08:00:00
1,167,44af50aecebcfbca03654d2ab92aac6b,purchase,2023-12-06 08:00:00
2,174,5ec9d590a90fce754b08cc415627ef07,purchase,2023-12-13 08:00:00
3,195,39887c2739efaea41c8ff64b2bcf5a05,purchase,2023-01-01 10:00:00
4,226,a6737b0c04b96b728bc14669376d3ebf,purchase,2023-02-01 10:00:00
5,287,35d0e484bbb4687112e52071376dde6b,purchase,2023-04-03 10:00:00
6,317,0b9df9bc7f554b556776ce0cf62debfa,purchase,2023-05-03 10:00:00
7,324,89d180e819d5a779ddec1f8737488821,purchase,2023-05-10 10:00:00
8,405,b895173a5ad0ec3f370777cf0953b52e,purchase,2023-07-30 10:00:00
9,837,2864cd7f67cb38786b9075dac75095f9,purchase,2023-12-06 08:00:00
10,1542,cd750dd8a8dbe8ce4a6376df6dcfcd6a,purchase,2023-11-21 08:00:00
11,1557,058b419304a444bd5d68f3299506e92e,purchase,2023-12-06 08:00:00
12,1645,d32d16992d9ffb3057780ed4b109260f,purchase,2023-11-15 08:00:00
13,1656,326e3f0d49ec0a29045fec8d824d5caf,purchase,2023-11-26 08:00:00
14,1682,3021aa20ddfb526a0cfea18efc704c93,purchase,2023-12-22 08:00:00
15,1710,30239aa2806308dbefb1414d9e6d3fa0,purchase,2023-01-17 10:00:00
16,1747,38ba0ebc5f667bbf8d784e93d9987f0b,purchase,2023-02-23 10:00:00
17,1767,0811c593514ef345df62b4bbd241d803,purchase,2023-03-15 10:00:00
18,1820,7e77af72a8bde02238d291bdd169fdbf,purchase,2023-05-07 10:00:00
19,1966,f99610e9cbb29fd002c9cb88a3b1b4cf,purchase,2023-12-27 08:00:00
20,2092,a3b569e394762e25527a340a7bd4619e,purchase,2023-01-11 10:00:00
21,2201,3924e2144d0b3e64147cce88596a06cd,purchase,2023-04-30 10:00:00
22,2317,f5c8fac4523250095918ead12bc79801,purchase,2023-08-24 10:00:00
23,2375,b8f28a2311c7d518db670b615a026013,purchase,2023-10-30 08:00:00
24,2640,acb3fd88d30158490886c554128ebbec,purchase,2023-04-02 10:00:00
25,2683,1e2d787b43296ecc43a085e9089b4b6c,purchase,2023-05-15 10:00:00
26,2716,e17e3e50da3df41a241dc78b958fdaa0,purchase,2023-06-17 10:00:00
27,2799,84e97654fe50b2cc416e323ce7e449f2,purchase,2023-09-08 10:00:00
28,2856,3ccb819eba75ca75301aa501acb521d4,purchase,2023-11-15 08:00:00
29,2874,aa57d55bd23b9a869de2fbe5900862db,purchase,2023-12-03 08:00:00

In [194]:
dfvendidos_nao_listados = (len(dfvendidos_nao_listados))

In [195]:
contagem_nao_listados = {"Vendidos_sem_Registros" : [dfvendidos_nao_listados]}

In [196]:
contagem_vendas = {"Vendas": [len(dfvendidos_listados)]}
dfcontagem_vendas = pd.DataFrame(contagem_vendas)

In [197]:
df_nao_listados = pd.DataFrame(contagem_nao_listados)

In [198]:
engine = create_engine("postgresql://postgres:Lf19092019f-@localhost:5432/Python",)

df_nao_listados.to_sql("vendidos_nao_registrados",engine, if_exists="replace", index=False)
dfcontagem_vendas.to_sql("contagem de vendas",engine,if_exists="replace",index=False)
dfvendidos.to_sql("vendidos_registrados",engine,if_exists="replace",index=False)
dfInteractions.to_sql("interacoes_tipos", engine, if_exists="replace",index=False)

3